
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 0rem 0;
}
#mute{
  margin-right: 1em;
  transition: all 0.4s ease;
}
#mute:hover {
  color: rgb(0, 255, 30) !important;
}

#jedi{
  margin-top: auto;
  font-size: 18px;
  font-weight: 100;
  padding: 5px;
  float: right;
  display: flex;
}


.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px ;
  border-radius: 50px;
  letter-spacing: 0.2px;
}
.rounded{
  width: 100%;
  padding: 1em;
  padding-top: 1em;
}

ul {
  margin: 0;
  padding: 0;
  transition: 0ms;
}
ul li {
  list-style:none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: rgb(16, 255, 199) !important;
}
/*Animation*/

.loop-wrapper {
  margin-top: -100px;
  position: relative;
  display: block;
  width: 100%;
  height: 5em;
  overflow: hidden;
  border-bottom: 3px solid #3b3737;
  color: #ee7777;
}
.mountain {
  position: absolute;
  right: -900px;
  bottom: -20px;
  width: 2px;
  height: 2px;
  box-shadow: 
    0 0 0 50px rgb(55, 85, 183),
    65px 50px 0 70px rgb(67, 131, 103),
    100px 90px 0 50px rgb(135, 173, 222),
    260px 250px 0 50px rgb(44, 75, 148),
    290px 320px 0 50px rgb(13, 70, 71),
    320px 400px 0 50px rgb(36, 16, 102)
    ;
  transform: rotate(130deg);
  animation: mtn 20s linear infinite;
}

.tree, .tree:nth-child(2), .tree:nth-child(3) {
  position: absolute;
  height: 100px; 
  width: 100px;
  bottom: -18px;
  scale: 100%;
  background: url(images/icons8-tree-96.png) no-repeat;
}

.taxi{
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #252525;
}

.taxi {
  background: url(images/mcar.png) no-repeat;
  background-size: contain;
  height:80px;
  margin-bottom: -19px;
}

.dark-mode .taxi {
  background: url(images/ncar.png) no-repeat;
  background-size: contain;
  height:80px;
  margin-bottom: -19px;
}

.dark-mode .taxi:before {
  content: " ";
  position: absolute;
  width: 90px;
  rotate: 5deg;
  left: -20px;
  box-shadow:100px 40px 18px 3px rgba(255, 236, 91, 0.885);
}


.tree  { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
.taxi  { animation: taxi 4s   0.080s ease infinite; }


@keyframes tree {
  0%   { transform: translate(1350px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree2 {
  0%   { transform: translate(850px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree3 {
  0%   { transform: translate(2750px); }
  50% {}
  100% { transform: translate(-50px); }
}

@keyframes taxi {
  0%   { }
  6%   { transform: translateY(0px); }
  7%   { transform: translateY(-6px); }
  9%   { transform: translateY(0px); }
  10%   { transform: translateY(-1px); }
  11%   { transform: translateY(0px); }
  100%   { }
}
@keyframes wind {
  0%   {  }
  50%   { transform: translateY(3px) }
  100%   { }
}
@keyframes mtn {
  100% {
    transform: translateX(-2000px) rotate(130deg);
  }
}


.navbar-brand .uil {
  font-size: 40px;
}


#cstrt{
  padding-top: 5em;
  background:white;
}
.dark-mode #cstrt{
  padding-top: 5em;
  background:black;
}

/* Intro effect */
#nameint{
  height:3em;
}

#containerint {
  position: absolute;
  width: 100vw;
  height: 80pt;
  top: -1.5em;
  bottom: 0em;

  filter: url(#threshold) blur(0.6px);
}

#text1,#text2 {
  color:rgb(254, 169, 0);
  position: absolute;
  width: 100%;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 4.5em;
  left:0.2em;
  text-align: left;
  user-select: none;
}

@media (max-width:992px) {
  #containerint {
    position: absolute;
    width: 66%;
    height: 30pt;
    top:-1em
  }
  #text1,#text2{
    font-size: 2.5em;
    left:0.2em;
    width: 100%;
  }
}

/* into end */


p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
  margin-top: auto;
  padding:auto;
}
#info{
  margin-block-end: 5em;
  margin-top: 2em;
  font-family:system-ui;
  word-spacing: 2px;
  padding: 2.5em 1em;
  font-weight: 450;
  width: auto;
  text-align: left;
}
.einfo {
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
}
.einfo:hover{
  background-size: 100% 100%;
}

.phead{
  font-size: 1.8em;
  color: #7d7d7d;
}

.timeline-info{
  text-indent: 2em;
}

.contact-info-item{
  margin-top: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}
.dark-mode h5 {
  font-weight:700;
  letter-spacing: -0.2px;
}


.custom-btn {
  background: #d7d7d7;
  color: #041535;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}

.custom-btn.custom-btn-bg {
  background: #0e0069dc;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: rgb(250, 185, 54);
  color: #000000 !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  min-width: 300px;
  position: relative;
}
.details{
  color: #212121;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(-5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(-5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;

}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.7s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(0, 198, 233);
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler-icon:hover {
  color:rgb(205, 205, 205);
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}
 .msgme{
  color: rgb(191, 142, 255);
  padding-bottom: 5em;
 }

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

#dn{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20%;
  bottom:7em;
  margin-top: 2em;
}
#darki{
  padding: auto;
  font-size: 20px;
  color:gray;
  
}

.fa-moon:before {
  content: "\f186";
  color:rgb(235, 255, 82)
}
#darki.fa-moon:before {
  content: "\f186";
  color:rgb(0, 0, 0)
}

.fa-sun:before {
  content: "\f185";
  color: rgb(255, 145, 0);
}

.color-mode-icon {
  position: relative;
  right: 6px;
  padding-left: 1em;
  cursor: pointer;
}


.color-mode-icon:after {
  font-family: 'unicons';
    content: '\ea9f';
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    color: rgb(252, 207, 123);
}
.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 1em;
  color: #d15b00fb; 
}

.dark-mode {
  background: black;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(108, 107, 107, 0.8);
  background: black;
}
.dark-mode .navbar-expand-sm{
  background: black;
  color: rgba(108, 107, 107, 0.8);
}

.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(4, 236, 155);
}

.dark-mode .small-text {
  background: #3a2e98;
  color: #ffffff;
}
.small-text {
  background: #ddd9f59f;
  color: #6d6d6d;
}
.dark-mode #info{
  font-weight: 600;
}

.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,.dark-mode .details, .dark-mode h2, .dark-mode h4, .dark-mode h5, .dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

#cwdn{
  padding-left: 2em;
  margin-left: 2em;
  padding-bottom: 2em;
}

.skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
   width: 100%;
   float: left;
}

.skills {
  padding: 1px;
  margin-left:auto;
  margin-bottom: 3em;
}

.skills .skill {
   margin-bottom: 30px;
}

.skills .skill .skill-title {
  color: #6c6c6c;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 16px;
}

.skills .skill .skill-bar {
   width: 0;
   height: 2em;
   background: #fff9f9;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills.active .skill .skill-bar {
   width: 100%;
}

.skills .skill .skill-bar span {
   float: left;
   width: 0%;
   background: #1492fa;
   height: 2em;
   position: relative;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills .skill .skill-bar span b {
   float: left;
   width: 100%;
   position: relative;
   text-align: right;
   opacity: 0;
   font-size: 14px;
   color: #0a9cdb;
   font-weight: 400;
   top: -13px;
}
.skills .skill .skill-bar span b:hover {
  color: #09b5ff;
  font-size: 16px;
}
.skillcontainer{
  width: 100%;
  max-width: 600px;
  padding:0 15px;
  margin:0 auto;
}

.edu{
  padding-left: 1em;
  padding-top: 2em;
}

@media (min-width:992px) {
  .page-container {
      max-width: 1140px;
      margin: 0 auto
  }

  .page-sidenav {
      display: block !important
  }
}

.padding {
  padding: 2rem
}

.w-32 {
  width: 32px !important;
  height: 32px !important;
  font-size: .85em
}

.tl-item .avatar {
  z-index: 2
}

.circle {
  border-radius: 500px
}

.gd-warning {
  color: #fff;
  border: none;
  background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

.timeline {
  position: relative;
  border-color: rgba(160, 175, 185, .15);
  padding: 0;
  margin: 0
}

.p-4 {
  padding: 1.5rem !important
}

.block,
.card {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem
}


.tl-item {
  border-radius: 3px;
  position: relative;
  display: -ms-flexbox;
  display: flex
}

.tl-item>* {
  padding: 10px
}

.tl-item .avatar {
  z-index: 2
}

.tl-item:last-child .tl-dot:after {
  display: none
}

.tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-item:last-child .tl-dot:after {
  display: none
}

.tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%)
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0
}

tl-item.active .tl-dot:before {
  border-color: #448bff;
  box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%)
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -15px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0
}

.tl-content p:last-child {
  margin-bottom: 0
}

.tl-date {
  font-size: .85em;
  margin-top: 2px;
  min-width: 100px;
  max-width: 100px
}

.b-warning {
  border-color: #f4c414!important;
}

.b-primary {
  border-color: #448bff!important;
}

.b-success {
  border-color: #09f925!important;
}

.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'unicons';
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: '\e833';
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: '\e836';
  right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  color: rgb(7, 154, 246);
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #5b5b5b;
}

.contact-info {
  background:#041535;
  border-radius: 40px 40px 40px 0px;
  position: relative;
  bottom: -13px;
  width: 100%;
}
.dark-mode .contact-info{
  background: #0c0c0d;
}

.contact-info p, .contact-info a {
  color: #f7f3f3;
}

.social-links .fa {
  color: #f3f4f7;
  font-size: 20px;
  display: block;
  margin: 6px 0;
  cursor: auto;
}
.social-links .fa:hover {
  color: rgb(45, 0, 150);
}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
  #darki{
    margin-top: 6px;
  }
  .about-image {
    margin-top: 4em;
  }

  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }

}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }


  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }
  .dark-mode .navbar-collapse {
    background: black;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 4.5px 20px;
    transition: transform 0.7s
  }
}
@media (max-width: 580px) {
	.animated-info {
		min-width: 200px;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
    ;
  }
}
